:root {
    /* Define custom colors */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    /* Define custom font families */
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
    /* Define custom font sizes */
    --font-size-small: 1.2rem; /* 12px */
    --font-size-medium: 1.6rem; /* 16px */
    --font-size-large: 1.8rem; /* 18px */
    --font-size-x-large: 2.3rem; /* 23px */
    --font-size-xx-large: 4.8rem; /* 48px */

    /* Define custom fomt weight */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Define custom line heights */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* section */
    --section-header-align: center;
    --section-tagline-transform: uppercase;
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
}
  
html {
    font-size: 62.5%; /* 62.5% of the default font size */
    scroll-behavior: smooth;
}

body, a {
    font-family: var(--font-family-base);
    line-height: var(--line-height-base);
    color: var(--text-color);
}

body {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

/* Target the visited state for the link */
a[href]:visited {
    font-style: italic;
}

/* Target the hover state for the link */
a[href]:hover {
    text-decoration: underline;
}

/* Target the active state for the link */
a[href]:active {
    background-color: var(--color-light-grey);
}

.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

.section-tagline, .card-category {
    color: var(--color-primary);
}

.section-tagline {
    text-transform: var(--section-tagline-transform);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

.visually-hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}
